.main {display: flex;
flex-direction: row;
flex-wrap: wrap;}



.section {
  background-color: $color-background-section;
  color: $color-font-section;
  font-family: $secondary-font;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3px;



  .section-title {text-align: center;
  padding-bottom: 10px;}
}



.section-favourite {
  background-color: $color-background-favourite;
  color: $color-font-favourite;
  font-family: $secondary-font;


}
