.main {display: flex;
flex-direction: row;
flex-wrap: wrap;}



.section {
  background-color: $color-background-section;
  color: $color-font-section;

  @include section;

}

.section-favourite {
  background-color: $color-background-favourite;
  color: $color-font-favourite;

  @include section;
}
