.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}



.section {
  background-color: $color-background;
  color: $color-font-section;
  font-family: $secondary-font;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3px;
  box-shadow: 2px 3px 8px 0px #878787;



  .section-title {
    text-align: center;
    padding-bottom: 10px;
  }
}


.section:hover {
  transition: transform 250ms ease;
}


.section-favourite {
  background-color: $color-background;
  color: $color-font-favourite;
  font-family: $secondary-font;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3px;

}
