$primary-font:'Rubik', ;
$secondary-font: 'Open Sans';


$color-background: white;
$color-background-section: #FFBDD6;
$color-font-section: #7E0125;



$color-background-favourite: $color-font-section;
$color-font-favourite: $color-background-section;